/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/halo";


/*global
{
	baseColor: #222222;
	color: #222222;
	contentBackgroundColor: #222222;
	focusColor: #6A6A6A;
	rollOverColor: #8F8F8F;
	selectionColor: #6A6A6A;
}*/